/* #region tag settings */

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
button {
  all: unset;
  cursor: pointer;
}
/* #endregion tag settings */

/* #region helper class settings */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.accent {
  color: #4d5ae5;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0;
}

/* #endregion helper class settings */

/* #region header */
.page-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: #404bbf;
}
.active::after {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #404bbf;
  display: block;
  content: "";
  bottom: -1px;
}
.header-contacts {
  margin-left: auto;
}
.header-contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */
.hero {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.hero-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
  width: 496px;
  margin: 0 auto 48px;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region features */

.features {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-item {
  width: 264px;
}
.feature-icon-container {
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}

/* #endregion features */

/* #region team */
.our-team-section {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.team-members-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.worker-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.worker-position {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-members-item {
  list-style: none;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.bottom-team-card {
  padding: 32px 16px;
}

.team-card-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}
/* #endregion team */

/* #region portfolio */
.portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.image-wrapper-project-card {
  overflow: hidden;
  position: relative;
}
.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item {
  list-style: none;
  width: 360px;
  height: 420px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-portfolio-item:hover .project-card-overlay {
  transform: translateY(0);
}
.bottom-project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  z-index: 999;
  background-color: #fff;
}
/* #endregion portfolio */

/* #region footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  width: 264px;
  margin-top: 16px;
}

.footer-right {
  margin-right: 80px;
}
.social-media-text-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-item .social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item .social-link:hover,
.footer-social-item .social-link:focus {
  background-color: #31d0aa;
}

.footer-subscription {
  justify-content: flex-end;
  margin-left: auto;
}
.form-footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
  margin-bottom: 16px;
}
.footer-wrapper-inner-form {
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 0px 10px 0% 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-input:focus {
  border-color: #31d0aa;
}
.footer-send-btn {
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send-btn:hover,
.footer-send-btn:focus {
  background-color: #31d0aa;
}
/* #endregion footer */
/* #region popup sub*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.popup-subscription {
  width: 408px;
  min-height: 584px;
  position: relative;
  top: 50%;
  left: 50%;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}
.close-popup {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  line-height: 0;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-popup-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover,
.close-popup:focus {
  background-color: #404bbf;
  border: solid 1px transparent;
}
.close-popup:hover .close-popup-icon,
.close-popup:focus .close-popup-icon {
  fill: #fff;
}
.popup-text {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.field-wrapper {
  margin-bottom: 8px;
}
.field-wrapper-inner {
  position: relative;
}
.label-field {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.field-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 0px 10px 0% 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.text-field:focus,
.comment-field:focus {
  border-color: #4d5ae5;
  outline: none;
}

.text-field:focus ~ .field-icon {
  fill: #4d5ae5;
}
.field-wrapper-comment {
  margin-bottom: 16px;
}
.comment-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  padding: 8px 10px 0px 16px;
  color: #2e2f42;
}
.comment-field::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.terms-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 24px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.tick-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .terms-label .custom-checkbox .tick-icon {
  fill: #f4f4fd;
}
.input-checkbox:checked + .terms-label .custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.send-btn-popup {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.send-btn-popup:hover,
.send-btn-popup:focus {
  background-color: #404bbf;
}
/* #endregion popup sub*/
